* {
    box-sizing: border-box;
}

.flexbox-container {
    padding: 5px;
    margin: 20px auto;
    width: 40%;
    min-height: 500px;
    outline: 5px solid black;
    display: flex;
    /* flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse; */

    /* justify-content: left;
    justify-content: right;
    justify-content: center;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: space-between; */

    /* flex-direction: column;
    justify-content: space-between; */

    /* flex-direction: row;
    justify-content: center;
    align-items: center; */

    /* flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-between;
    align-content: space-around; */

    flex-direction: column;

}

.box {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.blue {
    background: blue;
}

.red {
    background: red;
    align-self: flex-end;
}

.yellow {
    background: yellow;
}

.board {
    height: 80vh;
    width: 80vh;
    outline: 5px solid black;
    margin: 20px auto;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-content: flex-start;
}

.black {
    width: 10vh;
    height: 10vh;
    background: black;
}

.white {
    width: 10vh;
    height: 10vh;
    background: white;
}