* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.images-container {
    width: 100vw;
    min-height: 100vh;
}

img {
    display: block;
    width: 100%;
    margin-top: 2rem;
}

/* .images-container {
    width: 70vw;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
}

img {
    max-width: 200px;
    margin: 20px;
} */

@media (min-width: 40rem) {
    .images-container {
        width: 70vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    img {
        max-width: 200px;
        margin: 20px;
    }
}